snippet env
\begin{${1:enumerate}}
    $0
\end{$1}
endsnippet
snippet a
<a href="${1:http://www.${2:example.com}}"</a>
	$0
</a>
endsnippet


#==========================
snippet sig "my signature"
/**
* Created by lincoln.zjl on `date +%d.%m.%y`
*/
endsnippet


